<h1>WELCOME TO THE littlest ESTY SHOP THERE WAS</h1>
<br><br>
<h4><%= link_to "Admins! Do Your Adminning by Clicking HERE", admin_dashboard_index_path %></h4>
<br>
<br>
<h4>Merchants! Get to Merchanting!</h4>
<h5>Pups, Fluffs & Stuffs...<%= link_to "We Can Never Get Enoughs - So Give Us More", merchant_dashboard_index_path(1) %></h5>
<h5>Everyday Stuff...<%= link_to "I Have Nothing Creative for You", merchant_dashboard_index_path(2) %></h5>
